img {
  max-width: 100%;
  vertical-align: top;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  background: rgba(204, 204, 204, 0.3);
  padding: 15rem 0 10rem;

  &__image {
    margin-bottom: 5rem;

    img {
      width: 100%;
    }
  }

  &--single {
    font-size: 1.8rem;
    padding: 15rem 0 10rem;
  }
}


.inner {
  margin: 0 auto;
  width: 850px;
}

.archive {
  &__wrap {
    padding-top: 10rem;
  }

  &__title {
    font-size: 3rem;
    text-align: center;
  }
}

.footer {
  margin-top: auto;
}
