@use "../_util" as *;

$mainColor: #28253c;

.footer {
  background: #333;
  color: #fff;
  font-family: "Reem Kufi", sans-serif;
  font-size: 1.8rem;
  padding: 2rem 0;

  &__inner {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
  }

  &__list {
    // display: flex;
    // gap: 1rem;
    margin-bottom: 2rem;
    text-align: center;

    // @include responsive($deviseSP) {
    //   align-items: center;
    //   flex-direction: column;
    // }

    li {
      line-height: 0.8;
      padding-right: 1rem;

      &:not(:last-of-type) {
        // border-right: 1px solid #fff;
        margin-bottom: 1rem;
        //   @include responsive($deviseSP) {
        //     border-right: 0;
        //   }
      }
    }

    a {
      color: #fff;
      font-size: 1.5rem;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__copy {
    text-align: center;
  }
}
