@use "../_util" as *;

.header {
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  position: fixed;
  width: 100%;
  z-index: 2;

  &__inner {
    @include inner();

    align-items: center;
    display: flex;
    gap: 5rem;
    padding: 1rem 0;

    @include responsive($deviseSP) {
      // display: block;
      padding: 1rem 0.5rem;
    }
  }

  &__title {
    font-size: 0;
    width: 18rem;

    img {
      height: auto;
    }
  }

  &__nav {
    margin: 1rem 0 0 auto;
  }

  &__list {
    display: flex;
    gap: 3rem;

    li {
      position: relative;

      &:hover {
        a {
          &:after {
            background: #000;
            bottom: 0;
            content: "";
            display: block;
            height: 3px;
            left: 0;
            position: absolute;
            width: 100%;
          }
        }
      }
    }

    a {
      color: #333;
      display: block;
      font-family: "Reem Kufi", sans-serif;
      padding-bottom: 1rem;
      text-decoration: none;

      :active {
        color: #191919;
      }
    }
  }


  // TODO: 要調整
  &__snsWrap {
    img {
      height: auto;
      width: 1.5rem;
    }
  }
}
