@use "../_util" as *;

.news {
  &__wrap {
    margin-bottom: 8rem;

    @include responsive($deviseSP) {
      margin-bottom: 5rem;
    }
  }

  &__title {
    @include section_title();
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    display: flex;
    gap: 2rem;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.about {
  &__wrap {
    @include section_wrap();
  }

  &__title {
    @include section_title();
  }

  &__text {
    text-align: center;
  }
}

.talent {
  &__wrap {
    @include section_wrap();
  }

  &__title {
    @include section_title();
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
  }

  &__item {
    cursor: pointer;
    text-align: center;
    width: calc((100% - 10rem) / 3);

    @include responsive($deviseSP) {
      width: calc((100% - 5rem) / 2);
    }

    a {
      color: #191919;
      text-decoration: none;

      &:active {
        color: #191919;
      }
    }

    &:hover {
      img {
        opacity: 0.8;
      }
    }

    &Name  {
      &--en {
        font-family: "Reem Kufi", sans-serif;
      }
    }

    img {
      border-radius: 50%;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      height: auto;
      margin-bottom: 1rem;
      transition: all ease 0.5s;
      width: 100%;
    }
  }
}

.goods {
  &__wrap {
    @include section_wrap();
  }

  &__title {
    @include section_title();
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
  }

  &__item {
    cursor: pointer;
    width: calc((100% - 10rem) / 3);

    @include responsive($deviseSP) {
      width: calc((100% - 5rem) / 2);
    }

    a {
      color: #191919;
      text-decoration: none;

      &:active {
        color: #191919;
      }
    }

    &:hover {
      img {
        opacity: 0.8;
      }
    }

    img {
      height: auto;
      margin-bottom: 1rem;
      transition: all ease 0.5s;
      width: 100%;
    }
  }

  &__moreLink {
    margin-top: 2rem;
    text-align: right;
  }
}

.contact {
  &__wrap {
    margin-top: -8.5rem;
    padding-top: 8.5rem;
  }

  &__title {
    @include section_title();
  }
}
