@use "../_util" as *;

.link {
  &__list {
    list-style-type: none;
  }

  &__item {
    text-align: center;

    &:not(:last-of-type) {
      margin-bottom: 8rem;
    }

    &Link {
      background: linear-gradient(to right, rgb(5, 14, 142), rgb(15, 74, 255));
      border-radius: 4rem;
      color: #fff;
      display: inline-block;
      font-size: 2rem;
      margin: 4rem auto 0;
      padding: 2rem 5rem;
      text-decoration: none;
      width: min(95%, 400px);

      @include responsive($deviseSP) {
        font-size: 1.5rem;
        margin-top: 2rem;
        padding: 1.5rem 5rem;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
